@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
/*================Primary=================*/
/*================secondary=================*/
/*================font=================*/
/**************Modal***************/
.alert {
  position: relative;
  padding: 1.5rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  margin: 15px auto;
  width: 50%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: 1s;
  border-radius: 5px;
  z-index: 999999;
}

.modal {
  z-index: 999999;
  left: 0;
  top: 0;
  width: 100%;
  overflow: auto;
}

.modal-content {
  margin: 10% auto;
  width: 40%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: 1s;
  border-radius: 5px;
  color: #000;
  background: #569e3d linear-gradient(#79d858, #569e3d) repeat-x;
  border-color: #4a993e;
}

.modal-header {
  display: flex;
  flex-flow: nowrap;
  justify-content: space-between;
  align-items: center;
  flex: 0 1;
}
.modal-header .close {
  color: #000;
  font-size: 30px;
}
.modal-header i {
  font-size: 30px;
  font-weight: 4rem;
}

.close:hover,
.close:focus {
  color: #900;
  text-decoration: none;
  cursor: pointer;
}

/*************font*************/
.poppins {
  font-family: "Poppins", arial;
}

.specimen {
  font-family: "Specimen", sans-serif;
}

.roboto {
  font-family: "Roboto", arial;
}

.josefin-sans {
  font-family: "Josefin Sans", sans-serif;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
}

.bold {
  font-weight: 700;
}

.regular {
  font-weight: 400;
}

.size-18 {
  font-size: 18;
}

.size-16 {
  font-size: 16;
}

.size-14 {
  font-size: 14;
}

.size-12 {
  font-size: 12;
}

/*******border*******/
.has-bb {
  border-bottom: 1px solid #dedede;
}

.border-radius {
  border-radius: 20px;
}

.b-1 {
  border: 1px solid red;
}

/****margin****/
.mx-20 {
  margin: 0px 20px 0px 20px;
}

.mx-10 {
  margin: 0px 10px 0px 10px;
}

.m-20 {
  margin: 20px;
}

.m-10 {
  margin: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.mr-20 {
  margin-right: 20px;
}

.ml-20 {
  margin-left: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-10 {
  margin-top: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}

/******padding************/
.px-20 {
  padding: 0px 20px 0px 20px;
}

.px-10 {
  padding: 0px 10px 0px 10px;
}

.p-10 {
  padding: 10px;
}

.p-20 {
  padding: 20px;
}

.pr-20 {
  padding-right: 20px;
}

.pl-20 {
  padding-left: 20px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pt-20 {
  padding-top: 20px;
}

/*********color**************/
.btn-primary {
  background-color: #db2540;
}

.bg-primary {
  background-color: #8ed0d9;
}

.bg-secondary {
  background-color: #272727;
}

.text-primary {
  color: #000;
}

.text-color {
  color: #fff;
}

.text-secondary {
  color: #ecc524;
}

.link-secondary {
  color: #ecc524;
}

.secondary {
  color: #dedede;
}

/***********reset**************/
a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100vh;
}

/****************flex***************/
.flex-row {
  display: flex;
  flex-flow: row nowrap;
}

.flex-column {
  display: flex;
  flex-flow: column nowrap;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-arond {
  justify-content: space-around;
}

.flex-basis {
  flex-basis: 1;
}

.flex-egal {
  flex: 0 1 auto;
}

.aline-items {
  align-items: center;
  align-content: center;
}

/************utilities*****************/
.text-center {
  text-align: center;
}

.text-decoration {
  text-decoration-line: line-through;
}

.notice {
  display: block;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.alert-info {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}

.alert-primary {
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
.root {
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  font-family: "Poppins", arial;
  font-size: 16px;
}

h1,
.h1 {
  font-size: 68px;
  line-height: 80px;
  margin-top: 20px;
  margin-bottom: 40px;
}

h2,
.h2 {
  font-size: 42px;
  line-height: 60px;
  margin-top: 20px;
  margin-bottom: 20px;
}

h3,
.h3 {
  font-size: 26px;
  line-height: 40px;
  margin-top: 20px;
  margin-bottom: 0px;
}

h4,
.h4 {
  font-size: 16px;
  line-height: 20px;
  margin-top: 20px;
  margin-bottom: 0px;
}

h5,
.h5 {
  font-size: 16px;
  line-height: 20px;
  margin-top: 20px;
  margin-bottom: 0px;
}

p,
ul,
ol,
pre,
table,
blockquote {
  margin-top: 0px;
  margin-bottom: 20px;
}

ul ul,
ol ol,
ul ol,
ol ul {
  margin-top: 0px;
  margin-bottom: 0px;
}

/* Let's make sure all's aligned */
hr,
.hr {
  border: 1px solid;
  margin: -1px 0;
}

a,
b,
i,
strong,
em,
small,
code {
  line-height: 0;
}

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/********button**************/
/********input**************/
/*****button******/
.btn {
  margin: 0 5px;
  font-size: 1.2rem;
  text-align: center;
  display: inline-block;
  font-weight: 500;
  cursor: pointer;
  border-radius: 3px;
  padding: 0.7em 2em;
  -webkit-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 0.5s ease;
  height: 45px;
  background-color: #8ed0d9;
}
.btn:hover {
  color: #000;
  background-color: #cecece;
  border: 2px solid #8ed0d9;
}

.button--state-success {
  color: #000;
  background-color: #569e3d linear-gradient(#79d858, #569e3d) repeat-x;
  border-left: #4a993e;
}

.button--state-danger {
  color: #900;
  border: 2px solid #900;
}

.btn-primary {
  background-color: #8ed0d9;
  color: #272727;
}

.btn-danger {
  background-color: #900;
  color: #000000;
  border: 2px solid #900;
}
.btn-danger:hover {
  border: 2px solid #900;
  color: #900;
}

.btn-small {
  padding: 5px 10px;
  font-size: 1.4rem;
}

.low-opacity {
  opacity: 0.5;
}

.small {
  font-size: 1.2rem;
  margin: 0 0.5rem;
}

/*=========Main==========*/
button {
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  /* identical to box height, or 100% */
  background-color: #db2540;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  width: 200px;
  color: #fffffd;
}

/*# sourceMappingURL=styles.css.map */
