@font-face {
  font-family: "Noto Sans";
  src: url("../../fonts/NotoSans-Regular.ttf");
}
/*================Primary=================*/
/*================secondary=================*/
/*================font=================*/
/*************font*************/
.noto-sans {
  font-family: "Noto Sans", sans-serif;
}

.bold {
  font-weight: 700;
}

.regular {
  font-weight: 400;
}

.size-18 {
  font-size: 18;
}

.size-16 {
  font-size: 16;
}

.size-14 {
  font-size: 14;
}

.size-12 {
  font-size: 12;
}

/*******border*******/
.border-radius {
  border-radius: 20px;
}

.b-1 {
  border: 1px solid red;
}

/****margin****/
.mx-20 {
  margin: 0px 20px 0px 20px;
}

.mx-10 {
  margin: 0px 10px 0px 10px;
}

.m-20 {
  margin: 20px;
}

.m-10 {
  margin: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.mr-20 {
  margin-right: 20px;
}

.ml-20 {
  margin-left: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-10 {
  margin-top: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}

/******padding************/
.px-20 {
  padding: 0px 20px 0px 20px;
}

.px-10 {
  padding: 0px 10px 0px 10px;
}

.p-10 {
  padding: 10px;
}

.p-20 {
  padding: 20px;
}

.pr-20 {
  padding-right: 20px;
}

.pl-20 {
  padding-left: 20px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pt-20 {
  padding-top: 20px;
}

/*********color**************/
.btn-primary {
  background-color: #db2540;
}

.bg-primary {
  background-color: #8ed0d9;
}

.bg-secondary {
  background-color: #272727;
}

.text-primary {
  color: #000;
}

.text-color {
  color: #fff;
}

.text-secondary {
  color: #ecc524;
}

.link-secondary {
  color: #ecc524;
}

.secondary {
  color: #dedede;
}

/***********reset**************/
a {
  text-decoration: none;
}

li {
  list-style: none;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100vh;
}

/****************flex***************/
.flex-row {
  display: flex;
  flex-flow: row nowrap;
}

.flex-column {
  display: flex;
  flex-flow: column nowrap;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-arond {
  justify-content: space-around;
}

.flex-basis {
  flex-basis: 1;
}

.flex-egal {
  flex: 0 1 auto;
}

.aline-items {
  align-items: center;
  align-content: center;
}

/************utilities*****************/
.text-center {
  text-align: center;
}

.text-decoration {
  text-decoration-line: line-through;
}

.notice {
  display: block;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.alert-info {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}

.alert-primary {
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
.root {
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
}

h1,
.h1 {
  font-size: 68px;
  line-height: 80px;
  margin-top: 20px;
  margin-bottom: 40px;
}

h2,
.h2 {
  font-size: 42px;
  line-height: 60px;
  margin-bottom: 20px;
}

h3,
.h3 {
  font-size: 26px;
  line-height: 40px;
  margin-bottom: 20px;
}

h4,
.h4 {
  font-size: 16px;
  line-height: 20px;
  margin-top: 20px;
  margin-bottom: 0px;
}

h5,
.h5 {
  font-size: 16px;
  line-height: 20px;
  margin-top: 20px;
  margin-bottom: 0px;
}

p,
ul,
ol,
pre,
table,
blockquote {
  margin-top: 0px;
  margin-bottom: 20px;
}

ul ul,
ol ol,
ul ol,
ol ul {
  margin-top: 0px;
  margin-bottom: 0px;
}

hr,
.hr {
  border: 1px solid;
}

a,
b,
i,
strong,
em,
small,
code {
  line-height: 0;
}

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  max-width: 100%;
  object-fit: cover;
}

/********button**************/
/********input**************/
/*****button******/
.btn {
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  background-color: #db2540;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  padding: 0.625rem;
  border-radius: 5px;
  color: #fffffd;
  -webkit-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 0.5s ease;
  background-color: #db2540;
  border: 2px solid #db2540;
}
.btn:hover {
  color: #000;
  background-color: #ffffff;
  border: 2px solid #db2540;
}

.header-desktop,
.banner,
.recipe-moment {
  display: none;
}

.header-mobile {
  display: flex;
  width: 100%;
  padding: 15px;
  justify-content: center;
}
.header-mobile .header-top {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.header-mobile .header-top .header-top__logo {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  width: 100%;
  margin: 0;
}
.header-mobile .header-top .header-top__logo img {
  width: 100%;
  margin-bottom: 20px;
}
.header-mobile .header-top .header-top__logo .header-top__search {
  position: relative;
}
.header-mobile .header-top .header-top__logo .header-top__search .btn-input {
  width: 100%;
  height: 45px;
  color: #c4c4c4;
}
.header-mobile .header-top .header-top__logo .header-top__search ::placeholder {
  padding-left: 35px;
  font-style: italic;
  font-weight: 400;
}
.header-mobile .header-top .header-top__logo .header-top__search .img__search {
  position: absolute;
  top: 13px;
  left: 0.5rem;
  color: #c4c4c4;
}
.header-mobile .header-top .header-top__logo .header-top__search img {
  height: 1.875rem;
}
.header-mobile .header-top .nav--connect {
  display: flex;
  flex-flow: row wrap;
  flex: 1 0 auto;
  align-items: flex-start;
  gap: 10px;
}
.header-mobile .header-top .nav--connect .btn {
  width: auto;
}

.header-menu__mobile {
  z-index: 99999;
  position: fixed;
  bottom: 0px;
  margin-top: 20px;
  padding-top: 20px;
  width: 100%;
  border-radius: 15px 15px 0 0px;
  background-color: #fff;
}
.header-menu__mobile .nav--menu {
  display: flex;
  width: 100%;
}
.header-menu__mobile .nav--menu .item {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-content: center;
  align-items: center;
  gap: 20px;
}
.header-menu__mobile .nav--menu .item img {
  height: 1.5625rem;
  order: 1;
  color: #000;
}
.header-menu__mobile .nav--menu .item a {
  color: #000;
  order: 2;
  font-size: 15px;
}

/*Media querie*/
@media (min-width: 760px) {
  .wrapper {
    width: 100%;
  }
  .wrapper .header-mobile,
.wrapper .header-menu__mobile {
    display: none;
  }
  .wrapper .header-desktop {
    z-index: 99999;
    position: fixed;
    width: 100%;
    height: 150px;
    display: flex;
    background: #8ed0d9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .wrapper .header-desktop .header-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 95%;
    margin: 0 auto;
    justify-content: space-between;
  }
  .wrapper .header-desktop .header-menu__logo {
    width: 33.3333333333%;
  }
  .wrapper .header-desktop .header-menu__logo img {
    width: 50%;
  }
  .wrapper .header-desktop .header-menu__nav {
    width: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 20px;
    height: 40%;
  }
  .wrapper .header-desktop .header-menu__nav a {
    font-size: 16px;
    font-weight: bold;
    color: #000;
  }
  .wrapper .header-desktop .header-menu__connect {
    margin-left: 20px;
    width: 25%;
    display: flex;
    width: 180px;
    justify-content: space-between;
  }
  .wrapper .header-desktop .header-menu__connect .btn {
    width: 100px;
    font-size: 14px;
  }
  .wrapper .header-desktop .header-menu__connect .circle {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 100px;
    background-color: #ffffff;
    border: 2px solid #db2540;
  }
  .wrapper .header-desktop .header-menu__connect .circle img {
    color: #db2540;
  }
  .wrapper .header-animated {
    transition: margin-top 0.5s ease-in-out;
    margin-top: -10rem;
  }
  .wrapper .fixed-top {
    transition: margin-bottom 0.5s ease-in-out;
    margin-top: 0;
  }
  .wrapper .banner {
    padding-top: 200px;
    display: flex;
    align-self: center;
    align-items: center;
    width: 100%;
    background: #f9f6f6;
  }
  .wrapper .banner__view-more {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 10px;
    gap: 15px;
    justify-content: center;
    width: 50%;
    margin-left: 1.5%;
  }
  .wrapper .banner__view-more .btn {
    text-transform: uppercase;
    width: 15.625rem;
  }
  .wrapper .banner__view-more h3 {
    font-size: 50px;
    line-height: 70px;
  }
  .wrapper .banner__img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin-right: 1.5%;
  }
  .wrapper .banner__img img {
    width: 100%;
  }
}
/*=========Main==========*/
body {
  background-color: #8ed0d9;
  font-family: "Noto Sans", sans-serif;
}

.wrapper {
  position: relative;
  font-size: 16px;
  /******main******/
  /*********comment***********/
  /******footer*****/
}
.wrapper .main {
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  padding: 15px;
  /*============les cards==================*/
}
.wrapper .main .row {
  display: none;
}
.wrapper .main .recipe-moment__card {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
}
.wrapper .main .main-card {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 300px;
  height: 460px;
  background: #fffffd;
  border-radius: 10px;
  margin-bottom: 20px;
}
.wrapper .main .main-card .card__img {
  width: 80%;
}
.wrapper .main .main-card .card__img img {
  object-fit: contain;
}
.wrapper .main .main-card .card__text {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  gap: 0px;
}
.wrapper .main .main-card .card__text h3 {
  line-height: 20px;
}
.wrapper .main .main-card .card__text p {
  font-size: 12px;
  padding-left: 10px;
}
.wrapper .main .main-card .card__price {
  display: flex;
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 600;
}
.wrapper .main .main-card .card__price span {
  padding-left: 5px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, white 50%, #fd000d 50%, #fd0000 100%);
}
.wrapper .main .main-card .card__more {
  padding: 20px;
}
.wrapper .main .main-card .card__more a {
  color: #000;
  text-decoration: underline;
}
.wrapper .main .main-card .btn {
  font-size: 1rem;
  width: auto;
}
.wrapper .main .main-card .card__reduct {
  position: absolute;
  top: 0;
  left: 0;
  margin: 5px;
  border-radius: 10px;
  background-color: #000;
  color: #fff;
  padding: 5px;
}
.wrapper .main .firs-container {
  display: flex;
  width: 100%;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}
.wrapper .main .firs-container h2 {
  text-align: center;
  margin: 4rem;
}
.wrapper .main .firs-container .container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.wrapper .main .firs-container .container .container__puce {
  background-color: #ffffff;
  padding: 10px;
  height: 450px;
}
.wrapper .main .firs-container .container .container__puce li {
  margin-left: 15px;
  list-style: circle;
}
.wrapper .main .firs-container .container .container__puce h3 {
  text-align: center;
  margin-top: 0px;
}
.wrapper .main .firs-container .container .container__puce--btn {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.wrapper .main .firs-container .container .container__puce--btn :first-child {
  font-size: 0.9rem;
}
.wrapper .main .firs-container .container .container__puce--btn :nth-child(2) {
  text-transform: uppercase;
  font-size: 1.3rem;
}
.wrapper .main .firs-container .container .container__img {
  display: flex;
  align-self: center;
  height: 450px;
}
.wrapper .main .firs-container .container .container__img img {
  width: 100%;
}
.wrapper .main .firs-container .container > * {
  width: 330px;
}
.wrapper .parrcourse {
  width: 100%;
}
.wrapper .comment {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  width: 100%;
}
.wrapper .comment .comment-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
}
.wrapper .comment .comment-container {
  display: flex;
  flex-flow: row wrap;
  width: 250px;
  justify-content: space-between;
}
.wrapper .comment .comment-container .comment__img {
  width: 50%;
}
.wrapper .comment .comment-container .comment__text {
  width: 50%;
}
.wrapper .comment .comment-container .comment__text h4 {
  margin-top: 0px;
}
.wrapper .comment .comment-container .comment__text p {
  font-style: italic;
  font-size: 12px;
}
.wrapper .footer {
  padding-bottom: 2rem;
  padding-top: 20px;
  width: 100%;
  background: #272727;
  color: #fff;
}
.wrapper .footer .footer-menu__line {
  width: 70%;
  height: 2px;
  background: #fff;
  margin: 1.25rem;
}
.wrapper .footer .footer-menu {
  width: 100%;
  margin-bottom: 7.5rem;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-flow: row wrap;
}
.wrapper .footer .footer-menu ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 200px;
  gap: 10px;
}
.wrapper .footer .footer-menu ul h3 {
  color: #ecc524;
  font-size: 20px;
  display: block;
}
.wrapper .footer .footer-menu ul :first-child {
  margin-bottom: 0.625rem;
  display: flex;
}
.wrapper .footer .footer-menu ul img {
  object-fit: contain;
}
.wrapper .footer .hr {
  margin-top: 20px;
  width: 95%;
  margin: 0 auto;
}
.wrapper .footer .footer-menu__socials {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.wrapper .footer .footer-menu__socials .footer-menu__line {
  width: 50%;
}
.wrapper .footer .footer-menu__socials ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 3.125rem;
}
.wrapper .footer .copieright {
  display: flex;
  width: 90%;
  align-items: flex-end;
  justify-content: flex-end;
  margin-bottom: 20px;
}

@media (min-width: 760px) {
  .wrapper .main {
    padding: 0;
    width: 100%;
  }
  .wrapper .main .recipe-moment {
    padding: 15px;
    margin: 0 1.5rem 0 1.5rem;
    display: flex;
    text-align: center;
    font-size: 1.25rem;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  .wrapper .main .recipe-moment h3 {
    font-size: 2.625rem;
  }
  .wrapper .main .row {
    display: flex;
    justify-content: space-between;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
  }
  .wrapper .main .recipe-moment__card {
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
    width: 100%;
  }
  .wrapper .main .main-card {
    width: 350px;
    font-size: 16px;
  }
  .wrapper .main .main-card .card__text h3 {
    font-size: 1.375rem;
  }
  .wrapper .main .firs-container {
    width: 100%;
  }
  .wrapper .main .firs-container .container {
    display: flex;
    flex-flow: row wrap;
    gap: 0px;
  }
  .wrapper .main .firs-container .container .container__puce {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
  }
  .wrapper .main .firs-container .container > * {
    width: 50%;
    height: 480px;
  }
  .wrapper .main h2 {
    margin: 100px 0 100px 0;
    text-align: center;
  }
  .wrapper .footer {
    margin-top: 50px;
  }
}
@media (min-width: 1280px) {
  .wrapper {
    font-size: 1.5rem;
  }
}

/*# sourceMappingURL=styles.css.map */
