@import "mixin";

/*****button******/
.btn {
  @include btn-mixin();
  background-color: $btn-primary;
  border: 2px solid $btn-primary;
  &:hover {
    color: #000;
    background-color: #ffffff;
    border: 2px solid $btn-primary;
  }
}
