@import "mixin";

/*****button******/
.btn {
  @include btn-mixin();
  background-color: $btn-primary;
  border: 2px solid $btn-primary;
  &:hover {
    color: #000;
    background-color: #ffffff;
    border: 2px solid $btn-primary;
  }
}
.button--state-success {
  color: #000;
  // width: 20%;
  background-color: #569e3d linear-gradient(#79d858, #569e3d) repeat-x;
  border-left: #4a993e;
}
.button--state-danger {
  color: $danger;
  border: 2px solid $danger;
}

.btn-primary {
  background-color: $primary;
  color: $secondary;
}

.btn-danger {
  background-color: $danger;
  color: $text-primary;
  border: 2px solid $danger;

  &:hover {
    border: 2px solid $danger;
    color: $danger;
  }
}

.btn-small {
  padding: 5px 10px;
  font-size: 1.4rem;
}

.low-opacity {
  opacity: 0.5;
}

.small {
  font-size: 1.2rem;
  margin: 0 0.5rem;
}
