.header-mobile {
  display: flex;
  width: 100%;
  padding: 15px;
  .header-top {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .header-top__logo {
      display: flex;
      flex-flow: column wrap;
      justify-content: space-between;
      width: 100%;
      margin: 0;
      img {
        width: 100%;
        margin-bottom: 20px;
      }
      .header-top__search {
        position: relative;
        .btn-input {
          width: 100%;
          height: 45px;
          color: #c4c4c4;
        }
        ::placeholder {
          padding-left: 35px;
          font-style: italic;
          font-weight: 400;
        }
        .img__search {
          position: absolute;
          top: 13px;
          left: 0.5rem;
          color: #c4c4c4;
        }
        img {
          height: 1.875rem;
        }
      }
    }
    .nav--connect {
      display: flex;
      flex-flow: row wrap;
      flex: 1 0 auto;
      align-items: flex-start;
      gap: 10px;
      .btn {
        width: auto !important;
      }
    }
  }
}

.header-menu__mobile {
  z-index: 99999;
  position: fixed;
  bottom: 0px;
  margin-top: 20px;
  padding-top: 20px;
  width: 100%;
  border-radius: 15px 15px 0 0px;
  background-color: #fff;
  .nav--menu {
    display: flex;
    width: 100%;
    .item {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      width: 100%;
      align-content: center;
      align-items: center;
      gap: 20px;
      img {
        // font-size: 10px;
        height: 1.5625rem;
        order: 1;
        color: #000;
      }
      a {
        color: #000;
        order: 2;
        font-size: 15px;
      }
    }
  }
}

/*tablette*/
@media (min-width: 760px) {
  .wrapper {
    background: red;
    max-width: 760px;
    width: 100%;

    .header-mobile,
    .header-menu__mobile {
      display: none;
    }
    .header-desktop {
      height: 150px;
      display: flex;
      background: #8ed0d9;
      box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.5);
      .header-menu {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        justify-content: space-between;
        &__logo {
          width: 100px;
          img {
            width: 100%;
          }
        }
        &__nav {
          display: flex;
          align-items: flex-end;
          justify-content: flex-end;
          margin-right: 20px;
          gap: 20px;

          height: 40%;
          a {
            color: #000;
          }
        }
        &__connect {
          display: flex;
          width: 180px;
          justify-content: space-between;
          .btn {
            width: 100px;
            font-size: 14px;
          }
          .circle {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 45px;
            height: 45px;
            border-radius: 100px;
            background-color: #ffffff;
            border: 2px solid $btn-primary;
            i {
              color: $btn-primary;
            }
          }
        }
      }
    }
    .banner {
      display: flex;
      width: 100%;
      height: 400px;
      background: #f9f6f6;
      &__view-more {
        display: flex;
        flex-direction: column;
        align-content: center;
        padding: 10px;
        gap: 15px;
        justify-content: center;
        width: calc(100% / 2);
        height: 400px;
        .btn {
          text-transform: uppercase;
        }
      }
      &__img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(100% / 2);
        height: 400px;
        img {
          width: 100%;
        }
      }
    }
  }
}
@media (min-width: 1280px) {
  .wrapper {
    background: blue;
    // max-width: 1280px;
    width: 100%;
    .header-desktop {
      width: 100%;
      .header-menu {
        &__logo {
          width: 20%;
          img {
            width: 100%;
          }
        }
        &__nav {
          width: 65%;
          font-size: 24px;
        }
        &__connect {
          width: 15%;
          .btn {
            width: 120px;
            font-size: 18px;
          }
          .circle {
            width: 50px;
            height: 50px;
            font-size: 24px;
          }
        }
      }
    }
  }
  .banner {
    height: 600px;
    &__view-more {
      padding: 20px;
      display: flex;
      align-self: center;
      h3 {
        font-size: 60px;
        line-height: 80px;
      }
      .btn {
        padding: 30px;
      }
    }
    &__img {
      display: flex;
      align-self: center;
      width: 50%;
      img {
        width: 100%;
      }
    }
  }
}
