@import "mixin";

/*******input **************/
.btn-input {
  @include btn-mixin($bg-color: white);
  border: 1px solid $secondary;
  &:focus {
    outline: none;
  }
  ::placeholder {
    font-style: italic;
  }
}

.input-danger {
  background-color: #900;
}
