/********button**************/
@mixin btn-mixin($bg-color: $secondary) {
  margin: 0 5px;
  font-size: 1.2rem;
  text-align: center;
  display: inline-block;
  font-weight: 500;
  cursor: pointer;
  border-radius: 3px;
  padding: 0.7em 2em;
  -webkit-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 0.5s ease;
  height: 45px;
}

/********input**************/
@mixin input-mixin($bg-color: red) {
  margin: 0 5px;
  outline: none;
  font-size: 1.2rem;
  text-align: center;
  display: inline-block;
  background-color: red;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 15px;
  -webkit-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 0.5s ease;
}
