/********button**************/
@mixin btn-mixin($bg-color: $btn-primary) {
  font-family: $noto-Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  background-color: $btn-primary;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  width: 200px;
  border-radius: 5px;
  color: #fffffd;
  -webkit-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 0.5s ease;
}

/********input**************/
@mixin input-mixin() {
  font-family: $noto-Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  border-radius: 5px;
  height: 45px;
  border: 1px solid $text-secondary;
  cursor: pointer;
  -webkit-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 0.5s ease;
}
