/**************Modal***************/
.alert {
  position: relative;
  padding: 1.5rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  margin: 15px auto;
  width: 50%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: $modal-duration;
  border-radius: 5px;
  z-index: 999999;
}
.modal {
  z-index: 999999;
  left: 0;
  top: 0;
  width: 100%;
  overflow: auto;
}

.modal-content {
  margin: 10% auto;
  width: 40%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: $modal-duration;
  border-radius: 5px;
  color: #000;
  background: #569e3d linear-gradient(#79d858, #569e3d) repeat-x;
  border-color: #4a993e;
}

.modal-header {
  display: flex;
  flex-flow: nowrap;
  justify-content: space-between;
  align-items: center;
  flex: 0 1;
  .close {
    color: #000;
    font-size: 30px;
  }
  i {
    font-size: 30px;
    font-weight: 4rem;
  }
}

.close:hover,
.close:focus {
  color: $danger;
  text-decoration: none;
  cursor: pointer;
}
