// @import "variable";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
.root {
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  font-family: $poppins;
  font-size: 16px;
  //   background-color: red;
}

h1,
.h1 {
  font-size: 68px;
  line-height: 80px;
  margin-top: 20px;
  margin-bottom: 40px;
}
h2,
.h2 {
  font-size: 42px;
  line-height: 60px;
  margin-top: 20px;
  margin-bottom: 20px;
}
h3,
.h3 {
  font-size: 26px;
  line-height: 40px;
  margin-top: 20px;
  margin-bottom: 0px;
}
h4,
.h4 {
  font-size: 16px;
  line-height: 20px;
  margin-top: 20px;
  margin-bottom: 0px;
}
h5,
.h5 {
  font-size: 16px;
  line-height: 20px;
  margin-top: 20px;
  margin-bottom: 0px;
}
p,
ul,
ol,
pre,
table,
blockquote {
  margin-top: 0px;
  margin-bottom: 20px;
}
ul ul,
ol ol,
ul ol,
ol ul {
  margin-top: 0px;
  margin-bottom: 0px;
}

/* Let's make sure all's aligned */
hr,
.hr {
  border: 1px solid;
  margin: -1px 0;
}
a,
b,
i,
strong,
em,
small,
code {
  line-height: 0;
}
sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
// img {
//   max-width: 100%;
// }
