/*================Primary=================*/

$primary: #8ed0d9;
$text-primary: #000000;
$btn-primary: #db2540;

/*================secondary=================*/
$secondary: #272727;
$text-secondary: #ecc524;

$border-color: #dedede;

$border: 1px solid #eee;
$bg-primary-two: #ffccc6;
$danger: #900;
$warning: #faad14;

/*================font=================*/
$poppins: "Poppins", arial;

$roboto: "Roboto", arial;

$josefin-sans: "Josefin Sans", sans-serif;

$montserrat: "Montserrat", sans-serif;

$specimen: "Specimen", sans-serif;

$noto-Sans: "Noto Sans", sans-serif;
//$open-sans: "Open Sans", sans-serif;
$modal-duration: 1s;
