@import "font";
@import "variable";
@import "utilities";
@import "typologie";
@import "button";
@import "header";

/*=========Main==========*/
body {
  background-color: $primary;
  font-family: $noto-Sans;
}

.wrapper {
  position: relative;
  font-size: 16px;

  /******main******/

  .main {
    .row {
      display: none;
    }
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
    padding: 15px;
    /*============les cards==================*/
    .recipe-moment__card {
      display: flex;
      justify-content: center;
      flex-flow: row wrap;
      align-items: center;
      margin-top: 20px;
      gap: 20px;
    }
    .main-card {
      position: relative;
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
      gap: 10px;
      width: 300px;
      height: 460px;
      background: #fffffd;
      border-radius: 10px;
      margin-bottom: 20px;
      .card__img {
        width: 80%;
        img {
          object-fit: contain;
        }
      }
      .card__text {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        gap: 0px;
        h3 {
          line-height: 20px;
        }
        p {
          font-size: 12px;
          padding-left: 10px;
        }
      }
      .card__price {
        display: flex;
        font-size: 24px;
        margin-bottom: 20px;
        font-weight: 600;
        span {
          padding-left: 5px;
          background: linear-gradient(
            180deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 1) 50%,
            rgb(253, 0, 13) 50%,
            rgb(253, 0, 0) 100%
          );
        }
      }
      .card__more {
        padding: 20px;
        a {
          color: #000;
          text-decoration: underline;
        }
      }
      .btn {
        font-size: 1rem;
        width: auto;
      }

      .card__reduct {
        position: absolute;
        top: 0;
        left: 0;
        margin: 5px;
        border-radius: 10px;
        background-color: #000;
        color: #fff;
        padding: 5px;
      }
    }
    .firs-container {
      display: flex;
      width: 100%;
      flex-flow: column wrap;
      align-items: center;
      justify-content: center;
      h2 {
        text-align: center;
        margin: 4rem;
      }
      .container {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        gap: 10px;

        .container__puce {
          background-color: #ffffff;
          padding: 10px;
          height: 450px;

          li {
            margin-left: 15px;
            list-style: circle;
          }
          h3 {
            text-align: center;
            margin-top: 0px;
          }
          &--btn {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            :first-child {
              font-size: 0.9rem;
            }
            :nth-child(2) {
              text-transform: uppercase;
              font-size: 1.3rem;
            }
          }
        }
        .container__img {
          display: flex;
          align-self: center;
          height: 450px;

          img {
            width: 100%;
          }
        }
      }
      .container > * {
        width: 330px;
      }
    }
  }
  .parrcourse {
    width: 100%;
  }

  /*********comment***********/
  .comment {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    width: 100%;
    .comment-content {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      width: 100%;
      gap: 10px;
    }
    .comment-container {
      display: flex;
      flex-flow: row wrap;
      width: 250px;
      justify-content: space-between;
      .comment__img {
        width: calc(100% / 2);
      }
      .comment__text {
        width: calc(100% / 2);
        h4 {
          margin-top: 0px;
        }
        p {
          font-style: italic;
          font-size: 12px;
        }
      }
    }
  }

  /******footer*****/
  .footer {
    padding-bottom: 2rem;
    padding-top: 20px;
    width: 100%;
    background: #272727;
    color: #fff;
    .footer-menu__line {
      width: 70%;
      height: 2px;
      background: #fff;
      margin: 1.25rem;
    }
    .footer-menu {
      width: 100%;
      margin-bottom: 7.5rem;
      justify-content: center;
      align-items: center;
      display: flex;
      flex-flow: row wrap;
      ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 300px;
        height: 200px;
        gap: 10px;
        h3 {
          color: $text-secondary;
          font-size: 20px;
          display: block;
        }
        :first-child {
          margin-bottom: 0.625rem;
          display: flex;
        }
        img {
          object-fit: contain;
        }
      }
    }
    .hr {
      margin-top: 20px;
      width: 95%;
      margin: 0 auto;
    }
    .footer-menu__socials {
      width: 100%;
      display: flex;
      justify-content: space-between;
      .footer-menu__line {
        width: calc(100% / 2);
      }
      ul {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 3.125rem;
      }
    }
    .copieright {
      display: flex;
      width: 90%;
      align-items: flex-end;
      justify-content: flex-end;
      margin-bottom: 20px;
    }
  }
}

@media (min-width: 760px) {
  .wrapper {
    .main {
      padding: 0;
      width: 100%;
      .recipe-moment {
        padding: 15px;
        margin: 0 1.5rem 0 1.5rem;
        display: flex;
        text-align: center;
        font-size: 1.25rem;
        width: 100%;
        align-items: center;
        justify-content: space-between;

        h3 {
          font-size: 2.625rem;
        }
      }
      .row {
        display: flex;
        justify-content: space-between;
        margin-left: 1.25rem;
        margin-right: 1.25rem;
      }
      .recipe-moment__card {
        display: flex;
        flex-flow: row nowrap;
        gap: 20px;
        width: 100%;
      }
      .main-card {
        width: 350px;
        font-size: 16px;
        .card__text {
          h3 {
            font-size: 1.375rem;
          }
        }
      }
      .firs-container {
        width: 100%;
        .container {
          display: flex;
          flex-flow: row wrap;
          gap: 0px;
          .container__puce {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: center;
          }
        }
        .container > * {
          width: calc(100% / 2);
          height: 480px;
        }
      }
      h2 {
        margin: 100px 0 100px 0;
        text-align: center;
      }
    }
    .footer {
      margin-top: 50px;
    }
  }
}

@media (min-width: 1280px) {
  .wrapper {
    font-size: 1.5rem;
  }
}
