@import "font";
@import "animation";
@import "variable";
@import "modal";
@import "utilities";
@import "typologie";
@import "button";
@import "input";
@import "form";
@import "header";

/*=========Main==========*/
body {
  background-color: $primary;
  font-family: $noto-Sans;
  // width: 98%;
  // padding: 2%;
}
.wrapper {
  // border: 1px solid red;
  position: relative;
  font-size: 16px;
  // display: flex;
  // flex-flow: row wrap;
  // justify-content: center;
  // align-items: center;

  /******main******/

  .main {
    .row {
      display: none;
    }
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
    padding: 15px;

    .recipe-moment__card {
      display: flex;
      justify-content: center;
      flex-flow: row wrap;
      align-items: center;
      margin-top: 20px;
      gap: 20px;
    }
    .main-card {
      position: relative;
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
      gap: 10px;
      width: 280px;
      height: 500px;
      background: #fffffd;
      border-radius: 10px;
      margin-bottom: 20px;
      .card__img {
        // width: 200px;
        img {
          width: 100%;
        }
      }
      .card__text {
        margin: 0;
        padding: 10px;
        text-align: center;
        h3 {
          // margin: 0px 0 10px 0;
          // line-height: 0;
        }
      }
      .card__price {
        display: flex;
        font-size: 24px;
        margin-bottom: 20px;
        font-weight: 600;
        span {
          padding-left: 5px;
          background: linear-gradient(
            180deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 1) 50%,
            rgb(253, 0, 13) 50%,
            rgb(253, 0, 0) 100%
          );
        }
      }
      .card__more {
        padding: 20px;
        a {
          color: #000;
          text-decoration: underline;
        }
      }
      .card__reduct {
        position: absolute;
        top: 0;
        left: 0;
        margin: 5px;
        border-radius: 10px;
        background-color: #000;
        color: #fff;
        padding: 5px;
      }
    }
    .firs-container {
      // border: 1px solid red;
      display: flex;
      width: 100%;
      flex-flow: column wrap;
      align-items: center;
      justify-content: center;
      h2 {
        text-align: center;
        margin: 4rem;
      }
      .container {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        gap: 10px;
        .container__puce {
          background-color: #ffffff;
          // border-radius: 10px;
          padding: 10px;
          li {
            margin-left: 15px;
            list-style: circle;
          }
          h3 {
            text-align: center;
            margin-top: 0px;
          }
          &--btn {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            // text-transform: uppercase;
            :first-child {
              font-size: 0.9rem;
            }
            :nth-child(2) {
              text-transform: uppercase;
              font-size: 1.3rem;
            }
          }
        }
        .container__img {
          display: flex;
          align-self: center;
          img {
            width: 100%;
            // border-radius: 10px;
          }
        }
      }
      .container > * {
        // flex: 1 0 280px;
        width: 330px;
        height: 500px;
      }
    }
  }
  .parrcourse {
    width: 100%;
    margin-bottom: 120px;
    h2 {
      text-align: center;
      margin: 4rem;
    }
    img {
      width: 100%;
    }
  }
  // }
  /******footer*****/
  .footer {
    background: #272727;
    display: flex;
    align-self: center;
    color: #fff;
    text-align: center;
    padding: 5px;
    // width: 20rem;
    margin-bottom: 7.5rem;
    &-menu {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      &__line {
        width: 80%;
        height: 2px;
        background: #fff;
        margin: 1.25rem;
      }
      ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        h3 {
          color: $text-secondary;
        }
        :first-child {
          margin-bottom: 0.625rem;
        }
      }
      // .footer-menu__socials {
      //   display: flex;
      //   width: 100%;

      //   .footer--socials__img {
      //     display: flex;
      //     border: 1px solid red;
      //     justify-content: space-around;
      //   }
      // }
    }
  }
}

@media (min-width: 760px) {
  .wrapper {
    .main {
      padding: 0;
      width: 100%;
      .recipe-moment {
        padding: 15px;
        margin: 0 1.5rem 0 1.5rem;
        display: flex;
        text-align: center;
        font-size: 1.25rem;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        img {
          width: 100%;
        }
        h3 {
          font-size: 2.625rem;
        }
      }
      .row {
        display: flex;
        justify-content: space-between;
        margin-left: 1.25rem;
        margin-right: 1.25rem;
      }
      .recipe-moment__card {
        display: flex;
        flex-flow: row nowrap;
        gap: 20px;
        width: 100%;
      }
      .main-card {
        width: 350px;
        font-size: 16px;
        .card__text {
          h3 {
            font-size: 1.375rem;
          }
        }
      }
      .firs-container {
        // position: absolute;
        // top: 50px;
        // bottom: 50px;
        width: 100%;
        // border: 1px solid white;
        .container {
          display: flex;
          flex-flow: row wrap;
          // justify-content: space-between;
          gap: 0px;
          .container__puce {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: center;
          }
        }
        .container > * {
          // flex: 1 0 280px;
          width: calc(50%);
          height: 72vh;
        }
      }
    }
    .footer {
      display: flex;
      width: 100%;
      .footer-menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }
}
